maquette.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<!-- Personnel -->
		<xs:element name="personnel">
			<xs:element name="nom" type="xs:string"/>
			<xs:element name="prenom" type="xs:string"/>
			<xs:element name="grade" type="xs:string"/>
			<xs:element name="bureau" type="xs:string"/>
			<xs:element name="tel" type="xs:string"/>
			<xs:element name="mail" type="xs:string"/>

			<xs:attribute name="idPersonnel"/>
		</xs:element>

		<!-- Départements -->
		<xs:element name="departement">
			<xs:complexType>
				<xs:sequence>
					<!-- Les départements ont un responsable du personnel (1-1). -->
					<xs:element ref="personnel"/> 

					<xs:element name="idDepartemet" type="xs:string"/>
					<xs:element name="acronyme" type="xs:string"/>
					<xs:element name="nom" type="xs:string"/>
					<xs:element name="dateCreation" type="xs:date"/> 
				</xs:sequence>
				<xs:attribute name="idDepartement"/>
			</xs:complexType>
		</xs:element>

		<!-- Promos -->
		<xs:element name="Promo">
			<xs:complexType>
				<xs:sequence>
					<xs:attribute name="Intitule" type="xs:string"/>
					<xs:attribute name="Annee" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>

		<!-- Spécialités -->
		<xs:element name="Specialite">
				<xs:complexType>
				<xs:sequence>
			<xs:attribute name="Intitule" type="xs:string"/>
		</xs:element>

		<!-- UFs -->
		<xs:element name="UF">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="Personnel"/>
				</xs:sequence>
				<xs:attribute name="Code" type="xs:string"/>
				<xs:attribute name="Intitule" type="xs:string"/>
				<xs:attribute name="Coefficient" type="xs:string"/>
				<xs:attribute name="Obligation" type="xs:string"/>
				<xs:attribute name="Semestre" type="xs:string"/>
				<xs:attribute name="Heterogene" type="xs:string"/>
				<xs:attribute name="Continuite" type="xs:string"/>
				<xs:attribute name="ECTS" type="xs:string"/>
				<xs:attribute name="Type" type="xs:string"/>
				<!-- Les UF ont un responsable d'UF (1-*), max = ???. -->
		</xs:element>

		<!-- UEs -->
		<xs:element name="UE">
			<xs:attribute name="Code" type="xs:string"/>
			<xs:attribute name="Intitule" type="xs:string"/>
			<xs:attribute name="Coefficient" type="xs:string"/>
			<xs:attribute name="CM" type="xs:string"/>
			<xs:attribute name="TD" type="xs:string"/>
			<xs:attribute name="TP" type="xs:string"/> 
			<!-- Les UE ont un responsable d'UE (1-*). -->
			<xs:element ref="Personnel"/>
		</xs:element>

		<!-- Epreuves -->
		<xs:element name="Epreuve">
			<xs:attribute name="Intitule" type="xs:string"/>
			<xs:attribute name="Nature" type="xs:string"/>
		</xs:element>

		<!-- Compétences -->
		<xs:element name="Competence">
			<xs:attribute name="Intitule" type="xs:string"/>
		</xs:element>

		<!-- Clés -->
		<!-- du Département -->
		


		<!-- Relation Promo - UF -->
		<xs:element name="Appartenance">
			<xs:element name="idPromo" type="xs:string"/>
			<xs:element name="idUF" type="xs:string"/>
		</xs:element>

		<!-- Relation Promo - Département -->
		<xs:element name="Appartenance">
			<xs:element name="idPromo" type="xs:string"/>
			<xs:element name="idDepartement" type="xs:string"/>
		</xs:element>
